<div class="mt-3 col-10 mx-auto">
<div class="d-flex justify-content-between">
<div>
  <h1>List: <%= @list.name.capitalize %></h1>
  <p><%= @list.details.capitalize %></p>
  <div class="d-flex flex-wrap">
  <% @bookmarks.each do |bookmark| %>
  <div class="card m-2" style="width: 15rem;">
    <img class="card-img-top" src="<%= bookmark.movie.poster_url %>" alt="<%= bookmark.movie.title %>">
    <div class="card-body">
      <h3 class="card-title"><%= bookmark.movie.title %></h3>
      <p class="card-text"><%= bookmark.movie.overview %></p>
      <p class="card-text"><% bookmark.movie.rating.times  do %>
        <i class="fa-solid fa-star"></i>
        <% end %>
      </p>
      <blockquote class="blockquote">Critic: <%= bookmark.comment %></blockquote>
      <%= link_to list_bookmark_path(bookmark.list, bookmark),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
      <button class="btn btn-danger rounded text-white align">Delete</button>
      <% end %>
      </div>
    </div>
  <% end %>
  </div>
  </div>
  <div>
  <%= link_to new_list_bookmark_path(@list) do%>
  <button class="btn btn-success text-white rounded">Create a bookmark</button>
  <% end %>
  </div>
</div>

  <%= link_to root_path do%>
  <button class="btn btn-secondary rounded">Back to the list</button>
  <% end %>

</div>
